

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #252D44;
  margin: 0;
} 

/* .container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #252D44;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */


.container{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #252D44;
  box-shadow: 0 0  10px rgba(0,0,0,0.1);

}


.display {
  background-color: #00000040;
  color: #fff;
  font-size: 2em;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 20px;
}



.buttons{
  display: grid;
grid-template-columns: repeat(4,1fr);
gap: 30px;
}

.btn{
  padding: 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: backgroudn-color 0.3s;
  background-color: #EAE3DB;
}

.reset{
  background-color: #647299;
}
.equal{
  padding-right: 100px;
  background-color: red;
}